.footer__container {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
  padding-right: 48px;
  padding-left: 48px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer__container {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .footer__container {
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }
}