.intro__text {
  max-width: 690px;
  margin: 0;
  line-height: 26px;
  font-size: 16px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 33px;
 }

@media (min-width: 426px) and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    font-size: 16px;
    padding-bottom: 26px;
  }
}
