.intro {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  padding-top: 0;
  padding-right: 0;
  padding-left: 148px;
  padding-bottom: 92px;
 }

@media screen and (max-width: 1279px) {
  .intro {
    padding-right: 48px;
    padding-left: 48px;  
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 64px;
  }
} 